@page "/"

@* Written by Judy Yang for CS 4485.0w1, CS Project, starting April 4, 2025
	NetID: JXY200013
*@

@rendermode InteractiveServer

@inject NavigationManager navigateManager

@using student_website.Models


<PageTitle>Login</PageTitle>
<div class="panel">

    <img src="icon.png" width="100" height="100">
    <h1>Welcome to UTtenDance</h1>
    <span>You're free form eLearning quizzes!</span>

    <!-- Student Login and Password -->
    <div class="input-section">
        <EditForm Model="student">
            <label for="studentId">UTD-ID</label>
            <br/>
            <InputText id="studentId" @bind-Value="student.SNetID"/>
        </EditForm>
        <br/>

        <EditForm Model="form">
            <label for="">Attendance Password</label>
            <br/>
            <InputText id="password" @bind-Value="form.PassWd"/>
        </EditForm>

        <!-- Popup on what is a UTD-ID -->
        <br/>
        <div class="popup">
            <span>What's an UTD-ID</span>
        </div>
        
    </div>

    <button class="btn btn-primary" @onclick="SignIn">Start Attendance</button>
</div>

@code {

    private void SignIn()
    {
        navigateManager.NavigateTo("/quiz");
    }

    private Student student = new();
    private Form form = new();
}
