@* Written by Judy Yang for CS 4485.0w1, CS Project, starting April 11, 2025
	NetID: JXY200013
*@

@page "/quiz"
@rendermode InteractiveServer

@inject NavigationManager navigateManager

<PageTitle>Attendance Quiz</PageTitle>

<h1>Quiz</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<div class="quiz-header">
    Get the title here
    <span style="text-align: right">
        Due at:
        <span style="color: #E97502">Get the date here</span>
    </span>
</div>

<div class="quiz-body">
    Import question 
    <br/>
    Import answer choice 

    <!--If more than 1 question, add a break line-->
    <hr/>
</div>

<button class="btn btn-submit" @onclick="Submit">Submit</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    private void Submit()
    {
        navigateManager.NavigateTo("/submission");
    }
}
