@inherits LayoutComponentBase

<div class="page">

    <main>
        <!--Written by Judy Yang for CS 4485.0w1, CS Project, starting April 15, 2025
        NetID: JXY200013
        Heading banner at the top for all pages -->
        <div class="banner">
            <img src="foxIcon.png" class="image-header" />
            <span>UTtenDance</span>
        </div>
        <!-- End writing -->

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
